@font-face {
    font-family: Poppins;
    src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap);
}


:root {
    --primary-blue: #6420DC; 
    --secondary-blue: #E8DEFA; 
    --primary-orange: #EF633E;
    --secondary-orange: #FDE8E2;
    --primary-purple: #FC55FF;
    --secondary-purple: #FEE5FF;
    --dark-grey: 4E4E4E; 
    --medium-grey: #EAEAEA; 
    --light-grey: #F5F6F5;
}
body{
    font-family: 'Poppins',sans-serif;
    background: var(--medium-grey);
}
.header-container{
    display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
}
.header{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;

}
p{
    font-size: 16px;
    color: var(--dark-grey);
    display: inline-block; 
    margin-left: 30px;
}
p.thick{
    font-weight: bold;
}

.title-div{
    color: #FE8980;
}

.container{
    margin-top:80px;
    margin-bottom:80px;
}    
.img-card{
width:220px;
border-radius:50%;
}
.img-mini-card{
width:50px;
}
.centered {
margin: 0 auto !important;
float: none !important;
}

.btn-primary-blue {
    background: var(--primary-blue);
    border-radius: 32px;
}
.btn-primary-blue:hover{ 
    background: #6537B6;
}
.btn-secundary-blue {
    background: var(--secondary-blue);
    border-radius: 32px;
}
.btn-secundary-blue:hover{
    background: #D7C6F4;
}
.btn-primary-orange {
    background: var(--primary-orange);
    border-radius: 32px;
}
.btn-primary-orange:hover{
    background: #DF4118;
}
.btn-secundary-orange{
    background: var(--secondary-orange);
    border-radius: 32px;
}
.btn-secundary-orange:hover{
    background: #F6C8BB;
}
.btn-primary-purple{
    background: var(--primary-purple);
    border-radius: 32px;
}
.btn-primary-purple:hover{
    background: #EB46EE;
}
.btn-secundary-purple{
    background: var(--secondary-purple);
    border-radius: 32px;
}
.btn-secundary-purple:hover{
    background: #EB46EE;
}
.btn-sucess{
    background: #A7F0BC;
    border-radius: 32px;
}
.btn-error{
    background: #FFBFC4;
    border-radius: 32px;
}
.btn-search{
    background: white;
    border-radius: 32px;
    width: 500px;
}
.btn-disable{
    background: #EAEAEA;
    border-radius: 32px;
}