@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

@import url('https://fonts.google.com/icons');

@import url('https://developers.google.com/fonts/docs/material_icons');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #e3e3e3;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner img {
    width: 350px;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner .5s forwards;
}

.banner p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .3rem rgba(0,0,0,0.3);
    margin-bottom: 2.5rem;
    opacity: 0;
    animation: moveBanner .7s forwards;
}

.banner button {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: rgb(254, 137, 128);
    padding: 1rem 3rem;
    border: none;
    border-radius: 8px;
    box-shadow: .1rem .2rem rgba(0,0,0,0.3);
    cursor: pointer;
    opacity: 0;
    animation: moveBanner .9s forwards;
    transition: background-color 1s;
}

.banner button:hover {
    background-color: rgba(254, 137, 128, 0.7);
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotate(-30deg);
    }
    100%{
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

.hamburger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburger {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #eaeaea;
    box-shadow: 0.1rem 0.1rem 1px #4e4e4e;
    transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .3rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.4rem); 
}

.hamburger span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fe8980;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
}

.hamburger span.before {
    content: "";
    position: absolute;
    
    left: -1rem;
}

.show-menu .hamburger:hover span {
    opacity: 1;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%,-50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .8rem;
}

.menu-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4e4e4e;
    transition: color 1s;
}

.menu-link:hover {
    color: #fe8980;
}

.social-media {    
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background-color: #fe8980;
    color: rgba(255,255,255,1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: background-color 1s;
}

.social-media i:hover {
    background-color: #ffc8c3;
}

.sessao-destinos .sessao-header h1 {
    font-family: 'Poppins', sans-serif;
    color: #4e4e4e;
    text-align: justify;
    margin: 3rem 3rem 2rem;
    font-size: 24px;
    font-weight: bolder;
}

.destinos {
    display: flex;
    margin: 3rem 3rem 5rem;
    justify-content: space-between;
    cursor: pointer;
}

.destinos .card {
    width: 16rem;
    height: 8rem;
}

.destinos .card .img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

.destinos .card .img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.destinos h2 {
    font-family: 'Poppins', sans-serif;
    color: #4e4e4e;
    text-align: justify;
    margin: .4rem .2rem;
    font-size: 16px;
    font-weight: bold;
}

.destinos p {
    font-family: 'Poppins', sans-serif;
    color: #4e4e4e;
    text-align: justify;
    margin-left: .2rem;
    font-size: 12px;
}

.sessao-roteiros .sessao-header h1 {
    font-family: 'Poppins', sans-serif;
    color: #4e4e4e;
    text-align: justify;
    margin: 3rem 3rem 2rem;
    font-size: 24px;
    font-weight: bolder;
}

.roteiros {
    display: flex;
    margin: 3rem 3rem 5rem;
    justify-content: space-between;
    cursor: pointer;
}

.roteiros .card {
    width: 20rem;
    height: 10rem;
}

.roteiros .card .img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    ;

}

.roteiros .card .img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.roteiros h2 {
    font-family: 'Poppins', sans-serif;
    color: #4e4e4e;
    text-align: justify;
    margin: .4rem .2rem;
    font-size: 16px;
    font-weight: bold;
}

.sessao-cadastro-perfil .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sessao-cadastro-perfil {
    background-color: #fff;
    border-radius: 16px;
    width: 80%;
    height: 50%;
    margin-left: 8rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.perfil {
    display: flex;
}

.perfil::before {
    content: "";
    position: absolute;
    background-color: #fe8980;
    width: 40%;
    height: 100%;
    right: 60%;
}

.perfil .first-column {
    flex: 1 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-left: 25px;
    z-index: 10;
}

.perfil .second-column {
    display: flex;
    flex: 2 0 auto;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-left: 12px;
    z-index: 12;
}

.cadastro {
    display: flex;
    background-color: #fff;
    text-align: center;
}

.cadastro::before {
    content: "";
    position: absolute;
    background-color: #fe8980;
    width: 40%;
    height: 100%;
}

.cadastro .first-column {
    order: 2;
    text-align: center;
    width: 40%;
    z-index: 12;
}

.cadastro .second-column {
    order: 1;
    width: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.form input {
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 4px;
    background-color: #ffc8c3;
    margin: .3rem;
}

.form a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #4e4e4e;
    margin: .6rem .6rem;
    transition: opacity 1s;
}

.form a:hover {
    opacity: 0.5;
}

.password {
    color: #4e4e4e;
    font-size: 14px;
    margin: .6rem .6rem;
    text-align: center;
}

.sessao-cadastro-perfil .title-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: .6rem;
}

.sessao-cadastro-perfil .title-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #4e4e4e;
    font-weight: bold;
    margin-bottom: .6rem;
}

.sessao-cadastro-perfil .btn-1 {
    border-radius: 8px;
    width: 150px;
    align-self: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border: 1px solid #fe8980;
    color: #fe8980;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px 8px;
    margin-top: .6rem;
    cursor: pointer;
    transition: color 1s;
}

.sessao-cadastro-perfil .btn-1:hover {
    background-color: #fe8980;
    border: 1px solid #fff;
    color: #fff;
}

.sessao-cadastro-perfil .btn-2 {
    border-radius: 8px;
    width: 150px;
    align-self: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-color: #fe8980;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px 8px;
    margin-top: .6rem;
    cursor: pointer;
    transition: color 1s;
}

.sessao-cadastro-perfil .btn-2:hover {
    background-color: #fff;
    border: 1px solid #fe8980;
    color: #fe8980;
}

.sign-in.js .perfil .first-column {
    z-index: -1;
}

.sign-in.js .perfil .second-column {
    z-index: -1;
}

.sign-in.js .cadastro .first-column {
    z-index: 12;
}

.sign-in.js .cadastro .second-column {
    z-index: 12;
}

.sign-in.js .sessao-cadastro-perfil::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sign-up.js .cadastro .first-column{
    z-index: -1;
}

.sign-up.js .cadastro .second-column{
    z-index: -1;
}

.sign-up.js .perfil .first-column{
    z-index: 12;
}

.sign-up.js .perfil .first-column{
    z-index: 12;
}

